<div class="centertext">
  <h1>Too Long; Didn't Read</h1>
  <h3> A link aggregation site</h3>
</div>

<h2>
<ol>
{{#each article}}

  <li>{{title}}:  </li> <a href = "/article/{{slug}}">[Details]</a> <br>


{{/each}}
</ol>
</h2>
