body{
  background-color: lightgray;
}
/*https://www.w3schools.com/css/css_navbar.asp*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navtxt{
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;

}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.centertext{
  text-align: center;
}

.error{
  text-align: center;
  background-color: pink;
}
